<%= render partial: 'tables', locals: {bake: @bake} %>

<div id="process">
  <h4>Process</h4>
  <br/>
  <p><%= @bake.process %></p>
  <br/>
  <p><%= @bake.rating%></p>
</div>

<%= link_to 'Edit Bake', edit_bake_path(@bake) %><br/>
<%= link_to 'Delete Bake', bake_path(@bake), method:'delete'%>
<br/>

     
    
