<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSourdough</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Simple Sourdough</h1><br/>
  <%= flash[:error] %>
    <%= yield %>
    <% if logged_in? %>
      <%= link_to "Logout", session_path, method: 'delete' %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", new_user_path %>
    <% end %>

    <%= yield :form_errors %>
  </body>
</html>
